.jumbotron {
    background-image: url("../images/space.jpg");
    background-size: cover;
    color: yellow;
}

.container-fluid {
    width: 80%;
    background-color: beige;
    text-align: center;
    padding-bottom: 15px;
}